@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

.sidebar-wrapper {
  width: 300px;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  padding-right: 20px;
  border-right: 1px solid;
}

.main {
  margin-left: 300px;
  padding-left: 80px;
}
